main{
    display: flex;
    flex-flow: column wrap;

}
section{
    display: flex;
    width: fit-content;
    flex-flow: row-reverse nowrap;
    & > p{
        width: 300px;
        background-color: #F7f7f7;
    }
}
.images{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}